<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spark Daily</title>
    <link rel="stylesheet" type="text/css" href="./style/main.css" />
  </head>

  <body>

    <div class="header">
      <h1><i class="icon-spark-logo"></i> Daily</h1>
    </div>

    {{{body}}}

    <div class="footer">
      <p>A labor of love from Spark Apps Inc.</p>
    </div>

  </body>

</html>
