<div class="navigator shadow-below">
  <p><i class="icon-left-big float-left"></i> 1/2/16 <i class="icon-right-big float-right"></i></p>
</div>

<div>
  <img src="./9caa120ec630268cd27071dde9fd417f.png"></img>
</div>

<div class="subscribe-bar shadow-above">
  <p></p>
</div>
