<div class="navigator shadow-below">
  <p><i class="icon-left-big float-left"></i> 1/2/16 <i class="icon-right-big float-right"></i></p>
</div>

<div class="header-spacer"></div>

<div class="archive-main">{{> edition daily}}</div>

<div class="push"></div>

<div class="subscribe-bar shadow-above">
  <form>
    <h2 class="hidden-mobile">Get smiles in your inbox every day.</h2>
    <input type="email" placeholder="Your email address">
    <button><i class="icon-right-big"></i></button>
  </form>
</div>
