<div class="wrapper-large">

  <div class="header">
    <h1><i class="icon-spark-logo"></i> Daily</h1>
  </div>

  <div class="navigator shadow-below">
    <p><i class="icon-left-big float-left"></i> 1/2/16 <i class="icon-right-big float-right"></i></p>
  </div>

  <div class="push"></div>

</div>

<div class="subscribe-bar shadow-above">
  <p></p>
</div>

<div class="footer">
  <p>A labor of love from Spark Apps Inc.</p>
</div>
