<div class="page-wrap">

  <div class="header">
    <h1><i class="icon-spark-logo"></i> Daily</h1>
  </div>

  <div class="banner">
    <p>Curious? See today's email <i class="icon-right-big"></i></p>
  </div>

<div class="hero-outer"><div class="hero-middle"><div class="hero-inner">
  <div class="hero">
    <h1>Get smiles in <br class="mobile-only">your inbox</h1>
    <form>
      <input type="email" placeholder="Your email address">
      <button><i class="icon-right-big"></i></button>
    </form>
    <h1>every day.</h1>
  </div>
</div></div></div>

</div>

<div class="footer">
  <p>A labor of love from Spark Apps Inc.</p>
</div>
