<tr>
  <td class="padding" colspan="2">
    <p>Don't want these emails? No worries!</p>
    <p><a class="a" href="https://daily.sparkthecause.com/unsubscribe">Click here to unsubscribe.</a></p>
    <br>
  </td>
</tr>
