body {
  background-image: url(./img/background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
.banner {
  background-color: #64ADFA;
  color: #ffffff;
  height: 50px;
  line-height: 50px;
}
.banner p {
  font-size: 20px;
}
.hero-outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    margin-bottom: -50px;
    margin-top: -125px;
}
.hero-middle {
    display: table-cell;
    vertical-align: middle;
}
.hero-inner {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.hero {
  color: #8E59CD;
  padding: 60px 15px 0px 15px;
}
.hero h1 {
  font-size: 40px;
  line-height: 48px;
}
.hero input {
  border-radius: 30px;
  font-size: 18px;
  border: 3px solid #8E59CD;
  background-color: transparent;
  text-align: center;
  padding: 14px 10px 12px 10px;
  margin: 40px 0px 30px 0px;
  width: 300px;
  color: #8E59CD;
}
@media (min-width: 600px) {
  .hero input {
    min-width: 350px;
  }
}
@media (max-width: 400px) {
  .hero input {
    max-width: 200px;
  }
}
.hero input::-webkit-input-placeholder { /* Safari, Chrome and Opera */
  color: #8E59CD;
}
.hero input::-moz-placeholder { /* Firefox 18- */
  color: #8E59CD;
}
.hero input::-moz-placeholder { /* Firefox 19+ */
  color: #8E59CD;
}
.hero input::-ms-input-placeholder { /* IE 10+ */
  color: #8E59CD;
}
.hero input::-ms-input-placeholder { /* Edge */
  color: #8E59CD;
}
.hero input:placeholder-shown {
  color: #8E59CD;
}
.hero input:focus {
  outline: none;
}
.hero button {
  border-radius: 30px;
  font-size: 22px;
  border: 3px solid #8E59CD;
  background-color: #8E59CD;
  text-align: center;
  padding: 10px;
  margin: 30px 0px 30px 0px;
  color: #FFFFFF;
}
@media (max-height: 550px) {
  .hero input, .hero button {
    margin: 25px 0px 15px 0px;
  }
}
