@font-face {
  font-family: 'Avenir-Roman';
  src: url('./font/Avenir-Roman-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('./font/Avenir-Roman-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./font/Avenir-Roman-webfont.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Avenir-Black';
  src: url('./font/Avenir-Black-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('./font/Avenir-Black-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./font/Avenir-Black-webfont.svg') format('svg'); /* Legacy iOS */
}
* {
	margin: 0;
}
html, body {
	height: 100%;
}
body {
    font-family: "Avenir-Roman";
    background-color: #f8f8f8;
    text-align: center;

    background-image: url(./img/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-position: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1, h2 {
    font-family: "Avenir-Black";
    margin: 0px;
}
h1 {
  font-size: 48px;
}
h2 {
    font-size: 32pt;
}
p {
    font-size: 16px;
}
.header {
  background-color: #8E59CD;
  color: #ffffff;
  height: 75px;
  line-height: 75px;
  margin-left: -15px;
}
.banner {
  background-color: #64ADFA;
  color: #ffffff;
  height: 50px;
  line-height: 50px;
}
.banner p {
  font-size: 20px;
}
.hero-outer {
    display: table;
    position: absolute;
    height: 75%;
    width: 100%;
}
.hero-middle {
    display: table-cell;
    vertical-align: middle;
}
.hero-inner {
    margin-left: auto;
    margin-right: auto;
    width: /*whatever width you want*/;
}
.hero {
  color: #8E59CD;
  padding: 0px 10px 0px 10px;
}
.hero input {
  border-radius: 30px;
  font-size: 22px;
  border: 3px solid #8E59CD;
  background-color: transparent;
  text-align: center;
  padding: 10px;
  margin: 30px 0px 30px 0px;
  min-width: 250px;
  color: #8E59CD;
}
@media (min-width: 600px) {
  .hero input {
    min-width: 350px;
  }
}
.hero input ::-webkit-input-placeholder { /* Safari, Chrome and Opera */
  color: #8E59CD;
}
.hero input ::-moz-placeholder { /* Firefox 18- */
  color: #8E59CD;
}
.hero input ::-moz-placeholder { /* Firefox 19+ */
  color: #8E59CD;
}
.hero input ::-ms-input-placeholder { /* IE 10+ */
  color: #8E59CD;
}
.hero input ::-ms-input-placeholder { /* Edge */
  color: #8E59CD;
}
.hero input :placeholder-shown {
  color: #8E59CD;
}
.hero input :focus {
border: 3px solid #64ADFA;

  border-radius: 3px;
    outline: none;
}
.hero button {
  border-radius: 30px;
  font-size: 22px;
  border: 3px solid #8E59CD;
  background-color: #8E59CD;
  text-align: center;
  padding: 10px;
  margin: 30px 0px 30px 0px;
  color: #FFFFFF;
}
.page-wrap {
  min-height: 100%;
  margin-bottom: -50px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.footer, .page-wrap:after {
  height: 50px;
}
.footer {
  background-color: #8E59CD;
  color: #ffffff;
  height: 50px;
  line-height: 50px;
}
