@font-face {
  font-family: 'Avenir-Roman';
  src: url('./font/Avenir-Roman-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('./font/Avenir-Roman-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./font/Avenir-Roman-webfont.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Avenir-Black';
  src: url('./font/Avenir-Black-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('./font/Avenir-Black-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./font/Avenir-Black-webfont.svg') format('svg'); /* Legacy iOS */
}
* {
	margin: 0;
}
html, body {
	height: 100%;
}
body {
    font-family: "Avenir-Roman";
    background-color: #f8f8f8;
    text-align: center;
}
h1, h2 {
    font-family: "Avenir-Black";
}
h1 {
  font-size: 48px;
}
h2 {
    font-size: 32pt;
}
p {
    font-size: 16px;
}
.header {
  height: 75px;
  line-height: 75px;
  margin-left: -15px;
  background-color: #8E59CD;
  color: #ffffff;
}
.footer {
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
  height: 50px;
  line-height: 50px;
  background-color: #8E59CD;
  color: #ffffff;
}
.push {
  height: 50px;
}
@media (min-width: 400px) {
  .mobile-only {
    display: none;
  }
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
