.header-sticky {
  position:fixed;
  left: 0px;
  top: 0px;
  width: 100%;
}
.navigator {
  background-color: #FFFFFF;
  color: #8E59CD;
  height: 50px;
  line-height: 50px;
  position: fixed;
  left: 0px;
  top: 75px;
  width: 100%;
}
.navigator .float-left {
  padding-left: 10px;
}
.navigator .float-right {
  padding-right: 10px;
}
.navigator p {
  font-size: 20px;
}
.header-spacer {
  height: 50px;
}
.archive-main {
  background-color: #FFFFFF;
}
.subscribe-bar {
  position:fixed;
  left:0px;
  bottom:50px;
  width:100%;
  height: 75px;
  line-height: 75px;
  padding: 0px 10px 0px 10px;
  background-color: #FFFFFF;
  color: #8E59CD;
}
.shadow-below {
  -moz-box-shadow:    0px 5px 5px 0px #959595;
  -webkit-box-shadow: 0px 5px 5px 0px #959595;
  box-shadow:         0px 5px 5px 0px #959595;
}
.shadow-above {
  -moz-box-shadow:    0px -5px 5px 0px #959595;
  -webkit-box-shadow: 0px -5px 5px 0px #959595;
  box-shadow:         0px -5px 5px 0px #959595;
}
.push {
  height: 125px;
}
